<div id="header-wrapper">
	<header id="header" class="container">

		<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">Verti</a></h1>
								<span>by HTML5 UP</span>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="{{ path('home') }}">Acceuil</a></li>
									<li><a href="#">Documents</a></li>
									<li><a href="right-sidebar.html">Annonces</a></li>
									<li><a href="{{ path('app_login') }}">Connexion</a></li>
                                    <li><a href="{{ path('inscription') }}">Créer un compte</a></li>
								</ul>
							</nav>

					</header>
				</div>